<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Sense - v1.3.2</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap">
</head>
<body>
    <h1 class="title">Sign Sense</h1>
    <button type="button" name="sign2speech">Sign 2 Speech</button>
    <button type="button" name="speech2sign">Speech 2 Sign</button>
</body>
</html>