<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Sign Sense - v1.3.2</title>
  <link rel="icon" href="./static/logo.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&family=Sacramento&display=swap">
  <link href="./static/styles.css" rel="stylesheet" type="text/css">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</head>

<body>
  <h1 class="title">Sign Sense</h1>


  <h5>Your handy deaf-AI system</h5>

  <form action="{{ url_for('si2sp') }}" method="post">
    <button type="submit" name="sign2speech" data-toggle="tooltip" title="Sign to Speech"><img class="btnimg" src="./static/logo.png"></button>
  </form>

  <form action="{{ url_for('sp2te') }}" method="post">
    <button type="submit" name="speech2text" data-toggle="tooltip" title="Speech to Sign"><img class="btnimg" src="./static/microphone.png"></button>
  </form>

  <div class="instructions">
    <table>
      <tr>
        <td>
          <div class="card instruction" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Si2Sp - Guidelines</h5>
              <p class="card-text">
                1. Make you background mostly clear (preferably white).<br>
                2. Keep your hands in front of your camera. Approximately 1-2 feet away.<br>
                3. Minimize over-lighting.
              </p>
            </div>
          </div>
        </td>
        <td>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Sp2Si - Guidelines</h5>
              <p class="card-text">
                1. Start speaking 1s after the listening process starts for better results.<br>
                2. Minimize the background noise.<br>
                3. Try speaking slowly.
              </p>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <br><a href="info.html" target="_blank" class="btn btn-sm btn-foot btn-dark">Learn More</a>
</body>

</html>
